<h1>{{title}}</h1>

<div class="form-group">
  <label for="file">STLファイルを選択すると表示できます。</label>
  <br />
  <input
    type="file"
    (click)="clickFile($event)"
    (change)="changeFile($event)"
  />
  <div *ngIf="showFlag">
    <stl-model-viewer [stlModelFiles]="stlModelFiles"></stl-model-viewer>
  </div>
</div>

<div>
  <stl-model-viewer
    [centered]="false"
    [stlModels]="stlModels"
  ></stl-model-viewer>
  <stl-model-viewer [stlModels]="['./assets/strap.stl']"></stl-model-viewer>

  <h3>Custom controls, light, scene, camera, renderer</h3>
  <stl-model-viewer
    [light]="light"
    [scene]="scene"
    [camera]="camera"
    [renderer]="renderer"
    [controls]="controls"
    [meshOptions]="[{position: {x: 0, y: 0, z: 0}}]"
    [stlModels]="['./assets/strap.stl']"
  ></stl-model-viewer>
</div>
